html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-image: url("imgs/background-image.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(51, 255, 10);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .25);
    z-index: -1;
}

main {
    flex: 1;
}

.card-text .btn, .custom-color, .card-text .btn {
    color: white !important;
    font-weight: bold !important;
}

.card-text .btn {
    border: solid 1px;
}

.card-text .btn, #geral {
    font-size: small;
}

.card {
    background-color: rgba(0, 0, 0, .5);
}

.bg-custom {
background-color: rgba(230, 227, 227, .8);
}

label:hover{
    color: rgb(255, 255, 0) !important;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* test */
.navbar-left {
    margin-right: auto;
}

.navbar-nav {
    margin-left: auto;
}

/* Novo código para fixar o footer */
footer {
    background-color: rgba(0, 0, 0, 0.7); /* Exemplo de estilo para o footer */
    color: white;
    padding: 10px;
    text-align: start;
    width: 100%;
    position: fixed;
    bottom: 0;
}


footer .list-group-item {
    background-color: transparent;
    border: none;
    padding: 0;
}

footer > ul > li {
    margin: 0px 10px;
}

footer > ul > li > a > svg {
    width: 24px;
    height: 24px;
}