{% extends "base.html" %}

{% block title %} ChurrasPY {% endblock %}
{% block main %}

<main class="d-flex flex-column justify-content-center m-0 p-0 ">
    <div class="container btn-group text-center align-items-center bg-custom p-0" role="group">
        <input checked class="btn-check" id="btnradiogeral" name="btnradio" onclick="card_selected()" type="radio">
        <label class="btn btn-outline-secondary" for="btnradiogeral">geral</label>
        {% for key in df_dict.keys() %}
        <input class="btn-check" id="btnradio{{key}}" name="btnradio" onclick="card_selected()" type="radio">
        <label class="btn btn-outline-secondary" for="btnradio{{key}}">{{key}}</label>
        {% endfor %}
    </div>


    <div class="container">

        <!-- inicio cartao geral-->
        <div class="card text-center text-light" id="card-geral">
            <div class="card-body custom-color">
                <div class="card-text" id="geral" options>
                    <div class="row">
                        <label class="form-label" for="name_client">Nome</label>
                        <input class="form-text" id="name_client" name="name_client" type="text">
                    </div>
                    <div class="row">
                        <label class="form-label" for="n_clients">Quantidade de pessoas</label>
                        <span id="rangeValue">50</span>
                        <input class="form-range" id="n_clients" name="n_clients" oninput="update_value_range(this)"
                               type="range">
                    </div>
                </div>
                {% include "pieces/buttons_controler.html" %}
            </div>
        </div>
        <!-- fim cartao geral -->

        {% for key, df in df_dict.items() %}
        <!-- inicio cartao {{key}} -->
        <div class="card text-center" hidden id="card-{{key}}">
            <div class="card-body">
                <div class="card-text" id="{{key}}" options>
                    {% for _, row in df.iterrows() %}

                    <button class="btn col-4 my-1" onclick="selected(this)">
                        <img src="{{row['url_imagem']}}" width="30px" height="30px"> <span>{{row["nome"]}}</span>

                    </button>
                    {% endfor %}
                </div>
                {% include "pieces/buttons_controler.html" %}
            </div>
        </div>
        <!-- fim cartao {{key}} -->
        {% endfor %}
    </div>
</main>

{% endblock %}
